<h1>Por Continente</h1>

<hr>

<div class="row">
    <div class="col text-center">

        <!-- Search box -->
         @for (continent of continents; track $index) {

            <button 
                class="btn mx-2"
                (click)="searchByRegion(continent)"
                [ngClass]="{ 'btn-outline-primary': (selectedRegion === continent) || (initialRegion === continent) }"
                
                >   
                 {{continent}}
                 
            </button>
        }

    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        @if (isLoading) {
            <shared-loading-spinner></shared-loading-spinner>
        }

        <country-table [countries]="countries"></country-table>
    </div>
</div>
