<h1>Por País</h1>

<hr>

<div class="row">
    <div class="col">

        <!-- Search box -->
         <shared-search-box 
            (onDebounce)="searchByCountry($event)"
            placeholder='Buscar por país'
            [initialValue]="initialValue"
         ></shared-search-box>

    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        @if (isLoading) {
            <shared-loading-spinner></shared-loading-spinner>
        }

        <country-table [countries]="countries"></country-table>
    </div>
</div>
